.popUp__productDatabase {
    position: relative;
    width: 300px;
}

.catalog__button {
    border: none;
    background-color: green;
    padding: 10px 15px;
    margin: 10px 30px;
    color: white;
    font-size: 16px;
}

.productDatabase {
    position: relative;
    left: 2px;
    background-color: white;
    border-right: 0px solid green;
    border-bottom: 0px solid green;
    padding: 0px 30px;
    height: 0px;
    overflow-y: scroll;
    transition: .3s linear;
}

.productDatabase.showed {
    height: 500px;
    padding: 10px 30px;
    border-right: 2px solid green;
    border-bottom: 2px solid green;
    transition: .3s linear;
}



.productDatabase__category {
    list-style: none;
}

.category__productsTitle {
    display: block;
    width: 100%;
    text-decoration: none;
    color: green;
    font-size: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 5px;
    border-bottom: 1px solid green;
}

.category__productsTitle:hover {
    background-color: green;
    color: white;
}

.category__productsTitle.show + .category__products {
    display: block;
}

.category__products {
    /* position: absolute;
    left: 115%; */
    display: none;
}


.category__product {
    padding: 5px;
    list-style: none;
}


.category__product:hover {
    cursor: pointer;
    background-color: green;
    color: white;
}

.category__products .show {
    display: block;
}


.productDatabase::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(0, 88, 0);
    border-radius: 20px;
}